html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My Code */

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

/*  header */

header
{
    height: 170vh;
    background-image: url('img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-container
{
    display: flex;
    height: 100px;
    align-items: flex-end;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.left-logo
{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 3.5rem;
}

.right-logo
{
    margin-left: 5rem;
    width: 12rem;
}

.left-logo p
{
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.nav-bar
{
    height: 100px;
}

.nav-bar ul
{
    height: 40%;
    display: flex;
    align-items: flex-end;
    float: right;
    margin-right: 2rem;
}

.nav-bar ul li 
{
    cursor: pointer;
    margin: 0 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

@media screen and (max-width: 700px) 
{
    .head-container
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-logo
    {
        margin: 1rem 0;
        text-align: center;
    }
    .nav-bar ul
    {
        position: relative;
        left: 1.7rem;
    }
}

/***************************************************************************/

.head-container-2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 5rem;
}

.head-right
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    margin-right: 9rem;
}

.head-left
{
    margin-left: 2rem;
}

.head-left p
{
    width: 65%;
    border: 2px dashed black;
    padding: 5px;
    font-size: 0.7rem;
    font-weight: bold;
}

.head-left h1 
{
    font-weight: 900;
    font-size: 7rem;
}

.price
{
    height: 11rem;
    width: 11rem;
    background-image: url('img/price.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 3px dashed white;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    position: relative;
    right: 27rem;
    top: 5rem;
    flex-shrink: 0;
}

.price h1 
{
    text-align: center;
    line-height: 7rem;
}

.price span 
{
    display: block;
    line-height: 0rem; 
}

.burg 
{
    position: relative;
    left: 5rem;
}

.fries
{
    align-self: center;
    position: relative;
    left: 17rem;
}

@media screen and (max-width: 1100px)
{
    .head-left
    {
        justify-content: center;
    }
    .head-right
    {
        justify-content: center;
        margin-top: 4rem;
    }

    .head-left h1 
    {
        font-size: 5rem;
    }

    

    
}

@media screen and (max-width: 600px)
{

    .head-left h1 
    {
        font-size: 4rem;
    }

    .head-left p
    {
        width: 19rem;
    }

    .head-left p
    {
        width: 90%;
    }
    

}

/**************************************************************************/

/* Main */


.main-container-1
{
    margin: 4rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main-left
{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-right 
{
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-left-side
{
    width: 100%;
    height: 24rem;
    background-image: url('img/left.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 5rem;
    color:white;
    
}

.main-left-side h1
{
    margin-left: 2rem;
    font-size: 0.7rem;
}

.main-left-side span 
{
    display: block;
    line-height: 0rem;
    font-size: 1.3rem;
}


.main-right-side-top
{
    width: 100%;
    height: 11rem;
    background-image: url('img/top.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 5rem;
    color:white;
}

.main-right-side-top h1
{
    margin-left: 2rem;
    font-size: 0.7rem;
}

@media screen and (max-width: 900px) 
{
    .main-container-1
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-right 
    {
        width: 90%;
    }

    .main-left
    {
        width: 90%;
    }

    .main-right-side-top
    {
        margin-top: 1.8rem;
    }
}

.fun
{
    display: block;
    line-height: 0rem;
    font-size: 1.3rem;
}

.taste
{
    display: block;
    line-height: 0rem;
    font-size: 1.3rem;
    position: relative;
    bottom: 2.3rem;
}

.main-right-side-bottom
{
    width: 100%;
    height: 11rem;
    background-image: url('img/bottom.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 2rem;
    align-self: flex-end;
    line-height: 5rem;
    color:white;
}

.main-right-side-bottom h1
{
    margin-left: 2rem;
    font-size: 0.7rem;
}

.main-right-side-bottom span
{
    display: block;
    line-height: 0rem;
    font-size: 1.3rem;
}

.main-container-2
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 7rem;
}

.main-container-2 .p1 
{
    background-color: darkorange;
    padding: 1rem 4rem;
    font-weight: bold;
}

.main-container-2 h1 
{
    color: saddlebrown;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.main-container-2 .p2
{
    color: grey;
    margin: 0rem 9rem;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 20px;
}


.main-container-3
{
    margin-bottom: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.left-burg
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 3rem;
}

.mid-burg
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 3rem;
}

.right-burg
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 3rem;
}

.main-container-3 h1
{
    font-size: 1.4rem;
    font-weight: 900;
    color: dimgray;
}

.main-container-3 p 
{
    line-height: 1.5rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: dimgray;
}

.main-container-3 button
{
    margin: 2.5rem 0;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    background-color: crimson;
    border: none;
    color: white;
    font-weight: bold;
}

.resrv-text
{
    text-align: center;
    line-height: 4rem;
    margin-bottom: 3rem;
}

.resrv-text h2 
{
    font-weight: bold;
    font-size: 2rem;
}

.resrv-text h1
{
    font-weight: 900;
    font-size: 3rem;
}

.main-container-4
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 7rem;
    justify-content: center;
}

.left-buttons
{
    display: flex;
    flex-direction: column;
}

.right-buttons
{
    display: flex;
    flex-direction: column;
}

.main-container-4 input 
{
   width: 25rem;
   height: 2.5rem;
   margin: 1rem 1rem;
   border: 1px solid lightgray;
   padding: 0px 15px;
   border-radius: 5px;
   outline-color: lightblue;
}

.main-container-4 button 
{
    height: 2.5rem;
    margin: 1rem 1rem;
    background-color: crimson;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;

}

::placeholder
{
    color: gray;
    font-weight: bold;
}

@media screen and (max-width: 600px)
{
    .main-container-4 input 
    {
        width: 18rem;
    }

    .main-container-3 p 
    {
        font-size: 0.6rem;
    }

    .main-container-2 .p2
    {
        width: 19rem;
        font-size: 0.6rem;
    }
}

footer
{
    margin: 8rem auto;
}

.footer-background
{
    width: 75%;
    height: 65vh;
    background-image: url('img/background-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin: 8rem auto;
}

.footer-background img
{
    margin: 3rem 2rem;
}

.footer-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-container p
{
    color: white;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 900;
    line-height: 1rem;
    margin: 0 2rem;
}

.icons  
{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 0.8rem;
    font-weight: 900;
}

.myicon
{
    margin: 0 1.5rem;
    font-size: 1.2rem;
}

.ic2 
{
    margin-top: 1.2rem;
}

@media screen and (max-width: 1220px)
{
    .myicon
    {
        margin-top: 2rem;
    }

    
}

@media screen and (max-width: 600px)
{

    .myicon
    {
        font-size: 0.8rem;
    }
    .icons
    {
        font-size: 0.6rem;
    }

    .footer-container p
    {
        font-size: 0.5rem;
    }
}
